.sm-top .board {
  padding: 0;
}
.sm-top .title {
  border-bottom: none;
}
.sm-top .title-footer {
  border-bottom: 1px solid #767676;
  position: relative;
  padding-bottom: 10px;
}
.sm-top .title-footer .writer {
  display: inline-block;
  color: #767676;
}
.sm-top .title-footer .writer .writer-name {
  padding-right: 10px;
  border-right: 0.6px solid #c4c4c4;
  margin-right: 10px;
}
.sm-top .title-footer .response {
  display: inline-block;
  position: absolute;
  right: 0;
}
.sm-top .title-footer .response .watched,
.sm-top .title-footer .response .liked {
  padding-right: 10px;
  border-right: #c4c4c4 0.6px solid;
  margin-right: 10px;
}
.sm-top .title-footer .response .liked {
  color: #f56155;
}
.sm-top .title-footer .response .commented {
  color: #365f5c;
}

.sm-body .content {
  min-height: 200px;
}

.sm-body-footer {
  position: relative;
  height: 70px;
  border-bottom: #767676 1px solid;
}
.sm-body-footer .response {
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0);
}
.sm-body-footer .response .liked {
  color: #f56155;
}
.sm-body-footer .response .count {
  font-weight: bolder;
}
.sm-body-footer .response .btn {
  margin: 0 10px;
  padding: 15px;
  border: 1px solid #c4c4c4;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
}
.sm-body-footer .func {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.sm-body-footer .func .share {
  padding-right: 10px;
  border-right: 0.6px solid #c4c4c4;
  margin-right: 10px;
}

.sm-comment {
  position: relative;
  margin-top: 10px;
}
.sm-comment .input-form {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  border: #c4c4c4 0.5px solid;
  align-items: center;
}
.sm-comment .input-form .input-writer {
  min-width: 100px;
  padding: 10px;
  margin: 10px;
}
.sm-comment .input-form .input {
  width: 590px;
  outline: none;
  border: 0;
  height: 45px;
  overflow-y: auto;
  word-break: break-word;
  overflow-x: hidden;
  resize: none;
}
.sm-comment .input-form .input-submit {
  outline: none;
  border: 0;
  background-color: #c4c4c4;
  height: 77px;
  flex-grow: 1;
  color: #ffffff;
}
.sm-comment .nav {
  margin: 10px 0;
}
.sm-comment .body .comment {
  margin: 0;
  border-bottom: 1px solid #dee2e6;
  padding-top: 10px;
}
.sm-comment .body .comment:first-child {
  border-top: 1px solid #dee2e6;
}
.sm-comment .body .comment .writer {
  display: flex;
  align-items: center;
}
.sm-comment .body .comment .writer .writer-img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}
.sm-comment .body .comment .contents-block {
  position: relative;
}
.sm-comment .body .comment .contents-block .morefunc .icon-morefunc {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.sm-comment .body .comment .contents-block .morefunc .popup-text {
  list-style-type: none;
  padding: 0;
  display: inline;
}
.sm-comment .body .comment .contents-block .morefunc .popup-text .popup-item {
  list-style-type: none;
  padding: 1px;
  width: 50px;
  align-items: center;
}
.sm-comment .body .comment .contents-block .morefunc .false {
  display: none;
}
.sm-comment .body .comment .contents-block .contents {
  display: inline-block;
  width: 785px;
  margin: 10px 0px;
}
.sm-comment .body .comment .contents-block .func {
  overflow: hidden;
  height: 29px;
}
.sm-comment .body .comment .contents-block .func .like,
.sm-comment .body .comment .contents-block .func .reply,
.sm-comment .body .comment .contents-block .func .message {
  border: 1px solid #dfdfdf;
  color: gray;
  padding: 2px 10px;
  margin-right: 10px;
}

/*# sourceMappingURL=ReadMore.css.map */
