.authtemplate-block {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authtemplate-box {
  .auth-logo-area {
    display: block;
    height: 97px;
    position: relative;
  }

  .auth-logo {
    width: 244px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
