.board-block {
  margin-bottom: 40px;
  .board-nav {
    font-weight: bold;
    display: block;
  }
  table {
    height: 110px;
    margin-top: 10px;
    border: none;
    tbody {
      width: 100%;
      tr {
        display: block;
        float: left;
        width: (800px/3);
      }
      td {
        display: block;
        height: 35px;
        .order {
          font-weight: bolder;
          color: #cb566b;
        }
      }
    }
  }
}
