body {
  font-size: 12px;
  min-width: 510px;
  .wrap {
    display: flex;
    width: 100%;
    max-width: 1210px;
    flex-direction: column;
    margin: 0 auto;
    .container {
      display: flex;
      width: 100%;
      flex-direction: row;
      margin: 0 auto;
      .container-left {
        flex-basis: 65%;
        margin-right: 100px;
      }
      .container-right {
        flex-grow: 1;
      }
    }

    .title {
      font-size: 14px;
      font-weight: bolder;
      padding-bottom: 7px;
      border-bottom: 2px solid #767676;
      margin-bottom: 7px;
      padding-left: 7px;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    .container {
      .container-left {
        width: 768px;
        margin-right: 0;
      }
      .container-right {
        display: none;
      }
    }
  }
}
